$honeysuckle: rgb(236,248,110);
$smokey-gray: rgb(110,112,111);
$battleship-grey: rgb(130,130,130);
$cotton-seed: rgb(188,188,188);
$gainsboro: rgb(223,223,223);
$white-smoke: rgb(246,246,246);
$emptiness: rgb(252, 252, 252);
